.jumboMain {
	background-image: url(../images/jumbo.jpg);
	margin-top: 30px;

}

.jumboAbout {
	background-image: url(../images/construction-hard-hat-1.jpg);
	margin-top: 30px;
}

.jumboAbout h1, .jumboAbout p, .jumboAbout h2, .jumboMain h1, .jumboMain p, .jumboMain h2, .info h4, .info p, .info h5{
	color: #FFF;
}

.recentVac {
	list-style-type: none;
}

.info {
	margin-top:20px;
	-webkit-box-shadow: inset 0px 22px 50px 0px rgba(0,0,0,0.21);
	-moz-box-shadow: inset 0px 22px 50px 0px rgba(0,0,0,0.21);
	box-shadow: inset 0px 22px 50px 0px rgba(0,0,0,0.21);
	background: rgba(73,155,234,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );

}

.recentVacList li a {
	font-size: 1.3em;
}

.midSect p {
	font-size: 1.2em;
}

.footer {
	border-top:3px solid #f6f6f6;
	margin-top: 60px;
	padding-top: 10px;
}

.footer-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footer-nav li {
	display: inline;
	margin-left: 20px;
	font-size: 1.3em;
}

.content {
    margin-top: 65px;
}

.nice {
    text-align: justify;
    font-size: 15px;
}